body {
  color: black;
  background-color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 2em;
}
/*
input.slider {
  border: 0;
  background: #D0D0D0;
  color: #f6931f;
  font-weight: bold;
}

input.datepicker {
  background: #D0D0D0;
}

input.allClicker {
  background: #f6931f;
  width: 30px;
  height: 30px;
}
*/

.invisible {
  display: none;
}

h1 {
  color: #697AB4;
}

ul.noBullet {
  list-style-type: none;
  margin-left: auto;
  width: 93%;
}

#codeBoxBox {
  margin-left: auto;
  width: 93%;
}

#UrlBox {
  font-family: monospace;
}

#selectGroup {
  margin-left: auto;
  width: 93%;
}

#timeframeWidgets {
  margin-left: auto;
  width: 93%;
}

p.prompt {
  background-color: #eee;
  color: black;
  padding: 4px;
}

p.output {
  background-color: #ffd;
  color: black;
  padding: 4px;
  border: 1px solid #ccc;
}
td {
  white-space: nowrap;
}
th {
  font-weight: bold;
  padding: 1em 0 0.5em 0;
  text-align: left;
}
