body {
  color: black;
  background-color: white;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  padding: 0.5em 2em 2em 2em;
}

.invisible {
  display: none;
}

#builder {
  margin-left: 2em;
}

h1 {
  color: #697AB4;
  margin-left: -1em;
}

h2 {
  margin-left: -2em;
}

h2,h3,h4 {
  font-size: 1em;
  font-weight: normal;
  background-color: #eee;
  color: black;
  padding: 4px;
}

ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

#UrlBox {
  font-family: monospace;
}

#jsWidgetOptions {
  margin: 1em 0 2em -2em;
  padding: 2em 2em 1em 2em;
  border: 1px solid #ddd;
}

#jsWidgetOptions h2 {
  margin: -2em -2em 1em -2em;
}

#jsWidgetOptions ul {
  list-style-type: disc;
}

#jsWidgetOptions li {
  margin-bottom: 1em;
}

#jsWidgetOptions li ul {
  margin: 1em 0 0 2em;
}

#jsWidgetOptions li ul li {
  list-style-type: circle;
}

#jsWidgetOptions em {
  font-style: normal;
  font-size: 0.8em;
}

p.output {
  background-color: #ffd;
  color: black;
  padding: 4px;
  border: 1px solid #ccc;
}

td {
  vertical-align: top;
  white-space: nowrap;
}

th {
  font-weight: bold;
  padding: 1em 0 0.5em 0;
  text-align: left;
  vertical-align: top;
}
